<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ioda data file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fr.in2p3.lal.ioda.fits</string>
				<string>fr.in2p3.lal.ioda.aida</string>
				<string>fr.in2p3.lal.ioda.root</string>
				<string>fr.in2p3.lal.ioda.hdf5</string>
				<string>fr.in2p3.lal.ioda.fog</string>
				<string>fr.in2p3.lal.ioda.dst</string>
				<string>fr.in2p3.lal.ioda.gdml</string>
				<string>fr.in2p3.lal.ioda.dot</string>
				<string>fr.in2p3.lal.ioda.dcm</string>
				<string>fr.in2p3.lal.ioda.wrl</string>
				<string>fr.in2p3.lal.ioda.iv</string>
				<string>fr.in2p3.lal.ioda.hiv</string>
				<string>fr.in2p3.lal.ioda.heprep</string>
<!--
				<string>fr.in2p3.lal.ioda.zheprep</string>
				<string>fr.in2p3.lal.ioda.lua</string>
				<string>fr.in2p3.lal.ioda.py</string>
-->
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.jpeg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-120</string>
		<string>Icon.png</string>
		<string>Icon-72.png</string>
		<string>Icon-114.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon-152</string>
		<string>Icon-76</string>
		<string>Icon-144</string>
		<string>Icon-120</string>
		<string>Icon.png</string>
		<string>Icon-72.png</string>
		<string>Icon-114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.14.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>fits file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.fits</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>fits</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AIDA file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.aida</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>aida</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HDF5 file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.hdf5</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>hdf5</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CERN/ROOT file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.root</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>root</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LHCb file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.dst</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dst</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Saclay FOG file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.fog</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>fog</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GDML file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.gdml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gdml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>dot file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.dot</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dot</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DICOM file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.dcm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dcm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VRML file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.wrl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>wrl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Inventor file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.iv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>iv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Inventor with HEPVis nodes file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.hiv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>hiv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HepRep file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.heprep</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>heprep</string>
			</dict>
		</dict>
<!--
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HepRep zip file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.zheprep</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>zheprep</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>lua script file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.lua</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>lua</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Python script file</string>
			<key>UTTypeIdentifier</key>
			<string>fr.in2p3.lal.ioda.py</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>py</string>
			</dict>
		</dict>
-->
	</array>
</dict>
</plist>
